* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

img {
  max-width: 100%;
}

/*********************************** STYLES FOR MAIN SECTION ***********************************/
main {
  width: 79%;
  margin: 64px auto 40px;
}

/*********************************** STYLES FOR HEADER ***********************************/
header {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
}
header .designer-email-container p {
  font-weight: 900;
  font-size: 2em;
  text-align: end;
}
header .designer-details-container {
  margin-top: 120px;
}
header .designer-details-container p:nth-child(1) {
  text-align: center;
  font-size: 11.1em;
  font-weight: lighter;
}
header .designer-details-container p:nth-child(1) span {
  font-weight: 900;
}
header .designer-details-container p:nth-child(2) {
  text-align: center;
  font-weight: 700;
  color: #cecece;
  margin-top: 10px;
  font-size: 3.125em;
}
header .designer-details-container p:nth-child(2) span {
  color: #5b8edc;
}

/************************* STYLES FOR IMAGE SECTION STARTS HERE*************************/
.images-section {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: normal;
  margin-top: 160px;
  flex-wrap: wrap;
  row-gap: 28px;
}
.images-section div {
  width: 31.7%;
}

/************************* STYLES FOR IMAGE SECTION ENDS HERE *************************/
#big-names {
  text-align: center;
  font-weight: 700;
  color: #cecece;
  margin-top: 139px;
  font-size: 3.25em;
}
#big-names span {
  color: #c2e791;
}

/************************* STYLES FOR LOGO SECTION STARTS HERE*************************/
.logos-section {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: normal;
  width: 79%;
  margin: 80px auto 0;
}

.logo-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: normal;
  width: 30%;
}
.logo-image-container div {
  text-align: center;
  width: 35%;
  height: 60%;
}
.logo-image-container div img {
  height: 100%;
  object-fit: contain;
}
.logo-image-container #montBlanc-image {
  width: 80%;
}

/************************* STYLES FOR LOGO SECTION ENDS HERE*************************/
.horizontal-break {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: normal;
  width: 50%;
  margin: 320px auto 0;
}
.horizontal-break p {
  border-bottom: 1px solid #ffffff;
}
.horizontal-break p:first-child {
  width: 40px;
  margin-right: 40px;
}
.horizontal-break p:last-child {
  width: 220px;
}

/************************* STYLES FOR FONT CONTAINER STARTS HERE *************************/
.fonts-container {
  text-align: center;
  margin-top: 118px;
}

.icon {
  font-size: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin-left: 16px;
}

.fa-facebook-f {
  padding: 10px 14px;
}

.fa-m {
  font-family: serif;
}

/************************* STYLES FOR FONT CONTAINER ENDS HERE *************************/
#coded {
  font-weight: 600;
  text-align: center;
  margin: 80px 0 144px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/********************************** RESPONSIVE DESIGN **********************************/
@media screen and (max-width: 475px) {
  header {
    display: flex;
    justify-content: normal;
    align-items: normal;
    flex-direction: column-reverse;
  }
  header .designer-email-container p {
    margin: 10px 0 0;
    font-size: 0.9em;
    text-align: center;
  }
  header .designer-details-container {
    margin-top: 0px;
  }
  header .designer-details-container p:nth-child(1) {
    margin-top: 120px;
    font-size: 2.5em;
    letter-spacing: 2px;
  }
  header .designer-details-container p:nth-child(2) {
    margin-top: 16px;
    font-size: 1.55em;
    letter-spacing: 1.2px;
  }
  main {
    width: 90%;
  }
  .images-section {
    width: 100%;
    margin: 80px auto 128px;
    row-gap: 10px;
  }
  .images-section div {
    width: 100%;
  }
  #big-names {
    font-size: 1.6em;
    margin-top: -74px;
  }
  .logos-section {
    flex-direction: column;
    row-gap: 60px;
    margin: 60px auto 140px;
  }
  .logo-image-container {
    width: 100%;
    justify-content: space-between;
  }
  .logo-image-container #adidas {
    width: 60%;
  }
  .horizontal-break {
    margin: 0 auto;
  }
  .horizontal-break p:first-child {
    margin-right: 25px;
  }
  .fonts-container {
    margin-top: 40px;
  }
  .icon {
    font-size: 22px;
    margin: 0 4px;
  }
  #coded {
    margin: 48px 0 0;
    font-weight: 400;
    font-size: 17px;
  }
}

/*# sourceMappingURL=newstyles.css.map */
