*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*********************** STYLES FOR HEADER STARTS HERE ***********************/
header{
    background-color: #2D5E90;
}

header h1,article header h2{
    color: #ffffff;
    padding: 32px 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}
/*********************** STYLES FOR HEADER ENDS HERE ***********************/

/******************* STYLES FOR MAIN CONTENT STARTS HERE *******************/
main{
    width: 90rem;
    margin: 2.4rem 9rem 5.25rem;
}

/********************* STYLES FOR SECTION STARTS HERE *********************/
.left-section{
    float: left;   
    width: 61%;
}

.right-section{
    float: right; 
    width: 37.4%;  
}

.section2 article{
    margin-bottom: 24px;
}

.tv-article{
    background-color: #F6F6F6;
    margin-bottom: 20px;
    border: 1px solid #003581;
}

.tv-article header h2{
    padding: 14px 24px;
    text-align: left;
}

section .tv-article p{
    padding: 22px 26px;
    text-align: justify;
    line-height: 26px;
    letter-spacing: 0.3px;
    font-size: 17px;
    font-weight: 400;
}

.left-section p{
    padding: 22px 24px;
    word-spacing: 0.25px;
}

.clearfix{
    clear: both;
}
