*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/************************************ STYLES FOR HEADER STARTS HERE ************************************/
header{
    background-color: rgb(45, 94, 144);
}

header h2{
    color: white;
    padding: 32px 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}
/************************************ STYLES FOR HEADER ENDS HERE ************************************/

/******************************** STYLES FOR MAIN CONTENT STARTS HERE ********************************/
main{
    width: 83.5%;
    margin: 2.1% 8.25% 84px;
}

/********************************** STYLES FOR SECTION STARTS HERE **********************************/
.section1{
    float: left;   
    width: 61%;
}

.section2{
    float: right; 
    width: 37.4%;  
}

.section2 article{
    margin-bottom: 24px;
}

article{
    background-color: rgb(246, 246, 246);
    margin-bottom: 20px;
    border: 1px solid rgb(0, 53, 129);
}

article header h2{
    padding: 14px 0 14px 24px;
    text-align: left;
}

section article p{
    padding: 22px 26px;
    text-align: justify;
    line-height: 26px;
    letter-spacing: 0.3px;
    font-size: 17px;
    font-weight: 400;
}

.section1 p{
    padding: 22px 24px;
    word-spacing: 0.25px;
}

.clearfix{
    clear: both;
}

/************************************ TO MAKE THE PAGE RESPONSIVE ************************************/
@media (max-width:800px){
    .section1,.section2{
        width:100%;
    }
}