*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* STYLES FOR CONTAINER */
.container{
    width: 68%;
    margin: auto;
    height: 100%;
}

/* STYLES FOR FLEX BOX */
.flex{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* STYLES FOR HEADER STARTS HERE */
header{
    height: 64px;
    box-shadow: 0px 1px 20px 0px #00000030;
    position: sticky;
    top:0;
    background-color: #ffffff;
    z-index: 1;
}

header h1{
    font-size: 18px;
}

.person-details{
    font-size: 11px;
}

.person-details .image-container{
    width:26px;
    height: 26px;
    justify-content: space-between;
}

.person-details p {
    margin-right: 10px;
}

.image-container{
    width:40px;
    height: 40px;
}

.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* STYLES FOR HEADER ENDS HERE */

/* STYLES FOR MAIN STARTS HERE */
main{
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 14px;
}

/* STYLES FOR DESCRIPTION-COMMENTS DIVISION STARTS HERE */
.desc-comments{
    width: 74.4%;
    margin-top: 4px;
}

.hr,hr{
    background-color: #dadada;
    height: 1px;
    border: none;
}

.title{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
}

.description{
    margin: 7px 0 22px 0;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(86, 86, 86);
}

.comments-heading{
    margin: 20px 0 0 0;
    font-size: 18px;
}

.commentContainer{
    margin:18px 0;
}

.personImageContainer{
    width:5%;
}

.personImageContainer img{
    width:100%;
    border-radius: 50%;
}

.comment{
    width:95%;
    padding-left: 16px;
}

.commentTitle{
    font-size: 12.5px;
}

.commentDescription{
    margin-top: 4px;
    font-size: 12.3px;
    color: #565656;
    line-height: 18px;
}

.posterImageContainer{
    width: 100%;
    height: 380px;
    margin:0 0 14px 0;
}

.posterImage{
    width: 100%; 
    height: 100%;
}
/* STYLES FOR DESCRIPTION-COMMENTS DIVISION ENDS HERE */

/* STYLES FOR UPCOMING-PROJECTS DIVISION STARTS HERE */
.upcoming-projects{
    width: 23%;
    margin-top: 4px;
}

.upcoming-projects h2{
    font-size: 17px;
    margin-bottom: 12px;
}
/* STYLES FOR UPCOMING-PROJECTS DIVISION ENDS HERE */

/* STYLES FOR MAIN ENDS HERE */

/* STYLES FOR FOOTER STARTS HERE */
footer{
    background-color: #1f1f1f;
    height: 70px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}

.msg-icon-container{
    position: fixed;
    border-radius: 50%;
    background-color: rgb(180, 63, 168);
    padding: 22px;
    top:90%;
    right:2%;
}

.fa-message{
    font-size: 24px;
}
/* STYLES FOR FOOTER ENDS HERE */

@media screen and (max-width: 767px){
    .main-content,.container{
        width:94%;
        display: block;
        margin: auto;
    }

    .desc-comments,.upcoming-projects,header{
        width:100%;
    }

    header .container{
        display: flex;
    }

    .main-content{
        padding-bottom: 4px;
    }

    .person-details{
        width: 7%;
    }

    .person-details p{
        display: none;
    }

    .person-details .image-container{
        width: 33px;
        height: 33px;
    }

    .personImageContainer{
        width: 13%;
    }

    .title{
        font-size: 16px;
    }

    .comments-heading{
        font-size: 14px;
    }
    .commentDescription{
        font-size: 11.5px;
    }

    hr{
        display: block;
    }

    .upcoming-projects{
        margin-top: 20px;
    }
    .upcoming-projects h2{
        font-size: 14px;
    }

    .posterImageContainer{
        height: 566px;
    }

    footer{
        height: 86px;
    }

    footer .container .flex{
        display: block;
        width:96%;
        text-align: center;
        padding-top: 20px;
    }

    .footer-para2{
        font-size: 22px;
    }

}